<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../static/css/vendors.css">
  <link rel="stylesheet" href="../static/css/main.css">

  <title>Tu Brothers Academy</title>
  
  <link rel="icon" type="image/png" href="../static/img/general/logo.png"/>
  
</head>

<body class="preloader-visible" data-barba="wrapper">
  <!-- preloader start -->
  <div class="preloader js-preloader">
    <div class="preloader__bg"></div>
  </div>
  <!-- preloader end -->

  <!-- barba container start -->
  <div class="barba-container" data-barba="container">


    <main class="main-content">


      <header class="header -dashboard -dark-bg-dark-1 js-header">
        <div class="header__container py-20 px-30">
          <div class="row justify-between items-center">
            <div class="col-auto">
              <div class="d-flex items-center">
                <div class="header__explore text-dark-1">
                  <button class="d-flex items-center js-dashboard-home-9-sidebar-toggle">
                    <i class="icon -dark-text-white icon-explore"></i>
                  </button>
                </div>

                <div class="header__logo ml-30 md:ml-20">
                  <a data-barba href="index.html">
                    <img class="-light-d-none" src="../static/img/general/my_logo.png" alt="logo" style="height: 50px">
                    <img class="-dark-d-none" src="../static/img/general/my_logo_dark.png" alt="logo" style="height: 50px">
                  </a>
                </div>
              </div>
            </div>

            <div class="col-auto">
              <div class="d-flex items-center">
                <div class="d-flex items-center sm:d-none">
                  <div class="relative">
                    <button class="js-darkmode-toggle text-light-1 d-flex items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                      <i class="text-24 icon icon-night"></i>
                    </button>
                  </div>

                  <div class="relative">
                    <button data-maximize class="d-flex text-light-1 items-center justify-center size-50 rounded-16 -hover-dshb-header-light">
                      <i class="text-24 icon icon-maximize"></i>
                    </button>
                  </div>
                </div>

                <div class="relative d-flex items-center ml-10">
                   <img class="size-50" src="../static/img/misc/user-profile.png" alt="image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>


      <div class="content-wrapper js-content-wrapper">
        <div class="dashboard -home-9 js-dashboard-home-9">
          <div class="dashboard__sidebar scroll-bar-1">


            <div class="sidebar -dashboard">

              <div class="sidebar__item ">
                <a href="dashboard.html" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-discovery mr-15"></i>
                  Home
                </a>
              </div>

              <div class="sidebar__item ">
                <a href="dshb-courses.html" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-play-button mr-15"></i>
                  Courses
                </a>
              </div>

              <div class="sidebar__item -is-active -dark-bg-dark-2">
                <a href="dshb-reviews.html" class="d-flex items-center text-17 lh-1 fw-500 -dark-text-white">
                  <i class="text-20 icon-comment mr-15"></i>
                  Support
                </a>
              </div>

              <div class="sidebar__item ">
                <a href="dshb-settings.html" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-setting mr-15"></i>
                  Profile
                </a>
              </div>

              <div class="sidebar__item ">
                <a href="index.html" class="d-flex items-center text-17 lh-1 fw-500 ">
                  <i class="text-20 icon-power mr-15"></i>
                  Logout
                </a>
              </div>

            </div>


          </div>

          <div class="dashboard__main">
            <div class="dashboard__content bg-light-4">
              <div class="row pb-50 mb-10">
                <div class="col-auto ">

                  <h1 class="text-30 lh-12 fw-700">Support</h1>
				  
				  <div class="container"> 
					<div class="row justify-center">
						<div class="col-lg-7 pt-60">
                            <h3 class="text-24 fw-500">Send a Message.</h3>

                        <form class="contact-form row y-gap-30 pt-60 lg:pt-40" action="#">
                            <div class="col-md-6">
                                <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Name</label>
                                <input required type="text" name="title" placeholder="Name...">
                            </div>
                            <div class="col-md-6">
                                <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Email Address</label>
                            <input required type="text" name="title" placeholder="Email...">
                            </div>
                            <div class="col-12">
                                <label class="text-16 lh-1 fw-500 text-dark-1 mb-10">Message...</label>
                                <textarea required name="comment" placeholder="Message" rows="8"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" name="submit" id="submit" class="button -md -purple-1 text-white">
                                    Send Message
                                </button>
                            </div>
                        </form>
                        </div>
					</div>
				  </div>
				  
                </div>
              </div>
            </div>
			
			<section class="layout-pt-lg layout-pb-lg bg-light-4">
        <div class="container">
          <div class="row justify-center text-center">
            <div class="col-xl-8 col-lg-9 col-md-11">

              <div class="sectionTitle ">

                <h2 class="sectionTitle__title ">Frequently Asked Questions.</h2>

                <p class="sectionTitle__text ">Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>

              </div>


              <div class="accordion -block text-left pt-60 lg:pt-40 js-accordion">

                <div class="accordion__item">
                  <div class="accordion__button">
                    <div class="accordion__icon">
                      <div class="icon" data-feather="plus"></div>
                      <div class="icon" data-feather="minus"></div>
                    </div>
                    <span class="text-17 fw-500 text-dark-1">Do you offer discounts for students?</span>
                  </div>

                  <div class="accordion__content">
                    <div class="accordion__content__inner">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion__item">
                  <div class="accordion__button">
                    <div class="accordion__icon">
                      <div class="icon" data-feather="plus"></div>
                      <div class="icon" data-feather="minus"></div>
                    </div>
                    <span class="text-17 fw-500 text-dark-1">Do you offer special pricing for big teams?</span>
                  </div>

                  <div class="accordion__content">
                    <div class="accordion__content__inner">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion__item">
                  <div class="accordion__button">
                    <div class="accordion__icon">
                      <div class="icon" data-feather="plus"></div>
                      <div class="icon" data-feather="minus"></div>
                    </div>
                    <span class="text-17 fw-500 text-dark-1">What is the past experience of your teachers?</span>
                  </div>

                  <div class="accordion__content">
                    <div class="accordion__content__inner">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion__item">
                  <div class="accordion__button">
                    <div class="accordion__icon">
                      <div class="icon" data-feather="plus"></div>
                      <div class="icon" data-feather="minus"></div>
                    </div>
                    <span class="text-17 fw-500 text-dark-1">What is the course refund policy?</span>
                  </div>

                  <div class="accordion__content">
                    <div class="accordion__content__inner">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion__item">
                  <div class="accordion__button">
                    <div class="accordion__icon">
                      <div class="icon" data-feather="plus"></div>
                      <div class="icon" data-feather="minus"></div>
                    </div>
                    <span class="text-17 fw-500 text-dark-1">Do you offer discounts for non-profits?</span>
                  </div>

                  <div class="accordion__content">
                    <div class="accordion__content__inner">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </section>

            <footer class="footer -dashboard py-30">
              <div class="row items-center justify-between">
                <div class="col-auto">
                  <div class="text-13 lh-1">© 2023 Tu Brothers Academy. All Right Reserved.</div>
                </div>

                <div class="col-auto">
                  <div class="d-flex items-center">
                    <button class="button -md -rounded bg-light-4 text-light-1 ml-30">English</button>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </main>
  </div>
  <!-- barba container end -->

  <!-- JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
  <script src="../static/js/vendors.js"></script>
  <script src="../static/js/main.js"></script>
</body>

</html>